<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Suite" parallel="methods" thread-count="2">

    <listeners>
        <listener class-name="com.selenium_framework.SeleniumFramework.listener.TestListener"/>
        <listener class-name="com.selenium_framework.SeleniumFramework.listener.RetryTransformer"/>
    </listeners>

    <test name="Tests">
        <classes>
            <class name="com.selenium_framework.SeleniumFramework.tests.Login"/>
            <class name="com.selenium_framework.SeleniumFramework.tests.Cart"/>
        </classes>
    </test>

</suite>